<!DOCTYPE html>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel=”stylesheet” type=”text/css” href=”. /static/css/item.css”>
  <body>
  <h3><center>Sell an item!</center></h3>
  <form action="/postitem/" method = "POST" action="app.py">
    <b>Item:</b>
    <input type = "text" name = "name" placeholder = "almostMoney" required></center>
    <br>
      <b>Condition:</b>
  <select class="btn btn-primary dropdown-toggle">
    <option value="new">New</option>
    <option value="used">Used</option>
  <select>
    <br>
      <b>Price:</b>
      <input type = "int" name = "price" placeholder = "1 Dolla" required></center>
    <br>
      <b>Summary:</b>
      <br>
      <textarea class="jumbotron" rows="4" cols="50" name="summary" placeholder = "Waste your money on this because..."></textarea>
    <br>
      <b>Location:</b>
        <input type = "text" name = "location" placeholder = "Shadow Realm" required></center>
    <br>
    <center><input type= "submit" class="btn btn-success" value= "Submit Item"></center>
  </form>
  </body>
</html>
