<!DOCTYPE html>
    <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/item.css">
        <link rel="stylesheet" type="text/css" href="../static/overwrite.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">
      <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
      <title>Post</title>

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApyg1B4IaAvARvYxMKsIp6dJmlUj3v14k&libraries=places"></script>
        <script>
          var autocomplete;
          function initialize() {
            autocomplete = new google.maps.places.Autocomplete(
            /** @type {HTMLInputElement} */(document.getElementById('autocomplete')));
            google.maps.event.addListener(autocomplete, 'place_changed', function() {});
          }
        </script>
    </head>

    <body onload="initialize()">
        <nav class="navbar navbar-default navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="../static/icon.png" width="40" height="40"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Homepage</a></li>
                    <li><a href="/profile/">Profile</a></li>
                </ul>
                <div class="col-md-5">
                    <form action="/search/" class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" placeholder="Search:">
                            <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" action="/authenticate/" method="post" id="login-nav">
                                            <div class="form-group">
                                                <input type="text" name="user" class="form-control" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="pass" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" name="action" class="btn btn-primary btn-block" value="login">
                                            </div>

                                    </div>
                                    <div class="bottom text-center">
                                        New here?  <input type="submit" class="btn btn-primary btn-sm" name="action" value="register">
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--  Login for navbar -->
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron text-center">
            <h1 id="h1Jumbo"> Dolla Dolla Bill </h1>
            <h3 id="h3Jumbo">A free market</h3>
        </div>
  <h1><center>Sell an item/service!</center></h1>
  <br>
  <br>
  <div id = "up">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTaUwPfjcIfUQU04as-8aN8Wu--EWpGjx9Gf5ndkga0rw-9MOuy" alt="" style="width:400px;height:400px;">
  </div>
  <div class="box">
    <form action="/postitem/" method = "POST">
    <b>Title:</b>
    <input type = "text" name = "listing" placeholder = "almostMoney" required></center>
    <br><br>
    <select name="type" required>
        <option value="product">Product</option>
        <option value="service">Service</option>
    </select>
  <br>
  <br>
      <b>Summary:</b>
      <br>
      <textarea class="jumbotron" rows="4" cols="30" name="details" placeholder = "Waste your money on this because..." required></textarea>
     <b>Location:</b>
     <br>
     <input id="autocomplete" placeholder="Location" type="text" name="location" size="35" required>
     <br><br>
    <center><input type= "submit" class="btn btn-success" value= "Submit Item"></center>
  </form>
  </div>
   </body>
</html>
