<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/item.css">
        <link rel="stylesheet" type="text/css" href="../static/overwrite.css">
        <link rel="stylesheet" type="text/css" href="../static/dropzone.css">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Permanent+Marker" rel="stylesheet">
      <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/dropzone.js"></script>
      <title>Upload Images</title>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="../static/icon.png" width="40" height="40"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/profile/">Profile</a></li>
                </ul>
                <div class="col-md-5">
                    <form action="/search/" class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="search" placeholder="Search:">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" action="/authenticate/" method="post" id="login-nav">
                                            <div class="form-group">
                                                <input type="text" name="user" class="form-control" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="pass" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" name="action" class="btn btn-primary btn-block" value="login">
                                            </div>

                                    </div>
                                    <div class="bottom text-center">
                                        New here?  <input type="submit" class="btn btn-primary btn-sm" name="action" value="register">
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--  Login for navbar -->
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron text-center">
            <h1 id="h1Jumbo"> Dolla Dolla Bill </h1>
            <h3 id="h3Jumbo">A free market</h3>
        </div>
  <div class="jumbotron text-center" style="padding: 0.5em 0.6em;">
              <h2>Upload Images</h2>
  </div>
    <div class="container-fluid" style="padding-top:30px;">
        <form action="/upload/" method="post" class="dropzone" id="myDropzone" enctype="multipart/form-data">

            <input type="hidden" name="user" value="{{user}}">
            <input type="hidden" name="listing" value="{{listing}}">
            <input type="hidden" name="location" value="{{location}}">
            <input type="hidden" name="type" value="{{type}}">
            <input type="hidden" name="details" value="{{details}}">

            <div class="fallback">
                <input id="file-picker" name="file" type="file" multiple required/>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-info" value="Upload!" id="submit-all">

            </div>
        </form>
    </div>
    <script>
      Dropzone.options.myDropzone = {
        init: function () {
            var submitButton = document.querySelector("#submit-all");
            myDropzone = this;
            submitButton.addEventListener("click", function () {
                if (myDropzone.files.length > 0) {
                    return true;
                }
                else {
                    alert("No files were uploaded!");
                    event.preventDefault();
                }
              });
          }
      };
      </script>
</body>
